.mainContainer {
     width: 100vw;
     height: 500px;
     background: #000;
}

.swiperWrapper {
     position: relative;
}

.slide {
     border: 1px solid black;
     padding-top: 5px;
     margin-top: 50px;
     margin-bottom: 100px;
     padding-left: 10px;
     padding-right: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 5px;
     background: rgba(94, 91, 91, 1);
     font-family: 'Assistant', sans-serif;
     box-shadow: 2px -3px 25px 3px #F3A610;
}

.profilePic {
     display: flex;
     width: 100%;
     height: 10px;
     justify-content: center;
}

.review {
     font-size: 1.1rem;
}