.mainContainer {
     display: flex;
     flex-direction: column;
     width: 100vw;
     justify-content: center;
}

.heroSection {
     width: 100vw;
     height: 100vh;
     background-color: #161616;
}

.background {
     background-image: url('../images/inclined_catering.jpg');
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
     position: absolute;
}

.titleContainer {
     width: 100vw;
     height: 75px;
     font-size: 1.5rem;
     display: flex;
     justify-content: center;
     padding-bottom: 50px;
}

.cardContainer {
     width: 100vw;
     height: 1200px;
     padding-top: 70px;
     padding-bottom: 50px;
     padding-left: 50px;
     overflow-y: hidden;
}

.cards {
     height: auto;
}

.menuCard {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     width: 100vw;
     height: 225px;
     grid-gap: auto;
     row-gap: 35px;
     justify-content: center;
}

.article {
     border: 2px solid #000;
     width: 250px;
     background: gray;
     padding: 10px;
     border-radius: 20px;
     text-align: center;
     box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
     transition: transform 0.3s
}

.article:hover {
     transform: translateY(-10px);
     
     box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.aboutSection {
     display: flex;
     flex-direction: column;
     background: #161616;
     height: 1300px;
     width: 100vw;
     justify-content: center;
     align-items: center;
     padding-top: 100px;
     /* position: absolute; */
}

.aboutBG {
     background-image: url(../images/Josh_Team.jpg);
     width: 80%;
     height: 70%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     position: absolute;
}

.aboutContainer {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100vw;
     max-height: 200px;
     font-family: 'Assistant', sans-serif;
     margin-top: 130px;
     padding-top: 400px;
}

.title {
     width: 400px;
     font-size: 3rem;
     color: #fff;
}

.title h3 {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 60%;
     padding: auto;
     border-bottom: 3px solid #F1A638;
}

.right {
     float: right;
     width: 40%;
     margin-left: 200px;
     font-size: 1.5rem;
     color: #fff;
}

button {
     bottom: 0;
}