.navbar {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100vw;
     height: 250px;
     max-width: 100%;
     font-family: 'Assistant', sans-serif;
     z-index: 100;
     background: #161616;
     color: #fff;
     /* position: fixed; */
     top: 0;
}

.navbar img {
     display: flex;
     justify-content: center;
     width: 100px;
     height: 100px;
     padding-top: 10px;
}

ul {
     list-style: none;
     display: flex;
     justify-content: center;
}

ul li a {
     text-decoration: none;
     padding: 0 20px;
     color: #fff;
     font-size: 1.25rem;
     text-transform: uppercase;
     font-weight: bold;
}

.social_icons {
     display: flex;
     justify-content: center;
}

.social_icons a {
     padding: 0 15px;
     font-size: 30px;
     padding-top: 15px;
     color: #fff;
}

