.App {
     overflow-x: hidden;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background: rgba(199, 199, 193, 1);
}

.slide {
     opacity: 0;
     transition-duration: 1s ease;
}

.slide.active {
     opacity: 1;
     transition-duration: 1s;
     transform: scale(1.04);
}
